development: &default
  aws:
    access_key_id: 'fake_value'
    secret_access_key: 'fake_value'
    region: 'us-east-1'

  bitly_api_token:

  elasticsearch:
    url: http://127.0.0.1:9200
    log: true

test:
  <<: *default

  bitly_api_token: NOTAREALBITLYAPITOKENIHOPE

  elasticsearch:
    url: http://127.0.0.1:9200
    log: false

production:
  <<: *default
